<div id= "medtit" class ="container-fluid">
    <div id ="funddiv">
    <h1 id ="fund_title"> Get help with your medical </h1>
  
    <h1 id= "fund_title"> problems </h1>
   
  </br>
    <h2 id="fund_sub"> With an Awam campaign you can</h2>
 
    <h2 id="fund_sub"> get immediate help </h2>
    </div> 
    <img id="haid"src = "https://images.pexels.com/photos/302083/pexels-photo-302083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt ="hearding aid"> 
</div>
<h1 id= "fund_title2" class="text-center"> Get help with your medical problems </h1>
<div id ="gass" class="container-fluid" >
    <div>
    <h1 id="gass_head" class="text-center"> Leader in Medical Fundraising </h1>
    
    </div>
    <div id="firstg">
        
        <h2 id="gass_sub1" class="text-center"> 500,000</h2>
       
        <h2 id="gass_sub2" class="text-center">  medicine related campaigns</h2>
    </div>
    
    <div id="secondg">
        
        <h2 id="gass_sub1" class="text-center"> 700+ Million</h2>
       
        <h2 id="gass_sub2" class="text-center"> raised per year</h2>
    </div>
    
    <div id="thirdg">
        
        <h2 id="gass_sub1" class="text-center"> Only 3%</h2>
         
        <h2 id="gass_sub2" class="text-center"> platform fee</h2>
    </div>
    
</div>

<div id="car" >
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://images.pexels.com/photos/377058/pexels-photo-377058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Chania">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>LA is always so much fun!</p>
      </div>
    </div>

    <div class="item">
      <img src="https://images.pexels.com/photos/1312023/pexels-photo-1312023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Chicago">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>

    <div class="item">
      <img src="https://images.pexels.com/photos/748780/pexels-photo-748780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="New York">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
<h1 class="cats text-center">
    What Category Is Best Suited For You?
</h1>

<div class="sgn">
    <%= link_to signup_path do %>

        
        <button type="button" class="sgn1 btn btn-default">
            Sign Up For Free
        </button>
        <%end%>
</div>