<div class="bgdiv container-fluid">
<div class="back container-fluid">
    </br>
<h1 id="Title" class="sgnupmsg"> Start a fundraiser today</h1>
</br>
<h2 id="Title" class="sgnupmsg2">Activate your account today</h2>

<h2 id="Title" class="sgnupmsg2">to support locals or start</h2>

<h2 id="Title" class="sgnupmsg2"> your own fundraiser!</h2>

</div>
<div class="lginfrm">
<form>
    <h2 class="sgnupmsg3">Login</h2>
    Email Address: </br>
    <input type="text" name="email"> </br>
    Password: </br>
    <input type="text" name="password"> </br>
    </br>
    <button>Log In</button>
    
</form>
</div>
<div class="sgnupfrm">
<form>
    <h2 class="sgnupmsg3">Sign Up</h2>
    First Name: </br>
    <input type="text" name="firstname"> </br>
    Last Name: </br>
    <input type="text" name="lastname"> </br>
    Email Address: </br>
    <input type="text" name="email"> </br>
    Password: </br>
    <input type="text" name="password"> </br>
    Confirm Password: </br>
    <input type="text" name="password"> </br>
    </br>
        <button>Log In</button>

</form>
</div>


</div>