<div class="container-fluid">
<h1 class="sgnupmsg"> Start a fundraiser today</h1>
</br>
<h2 class="sgnupmsg2">Activate your account today</h2>

<h2 class="sgnupmsg2">to support locals or start</h2>

<h2 class="sgnupmsg2"> your own fundraiser!</h2>
</div>