@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.jumbotron {
   
    margin-top: -20px;
    padding-top: 250px;
    padding-bottom: 400px;
    font-family: "Oswald";
    color: black;
    font-weight: 100;
    background-image: url("https://images.pexels.com/photos/2128/person-woman-sitting-old.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 100% 100%;

}

.msg {
    margin-left: 80px;
}

.navbar{
    margin-top: 20px;


}
/* Size of font and logo */

.fa, .navbar-brand {
     color: black;
    font-size: 50px;
}

.form-group {
    margin-left: 100px;
}


button.btn.btn-default.dropdown-hover{
    display: block;
}
/*Formatting of the buttons*/ 
.lgnin, .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-width: 0.5px ;
    font-size: 17px;
    border-radius: 0;
    font-family: "Rajdhani";
        font-weight: 25;

}



.sgnup, .htw {
    border-radius: 0;
     border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: solid;
    border-width: 0.5px ;
    font-size: 17px;
    font-family: "Rajdhani";
        font-weight: 25;

}




.form-group, .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-radius: 0;
     border-style: none;
    font-family: "Rajdhani";
    font-weight: 25;
    font-size: 17px;
}
.navbar-brand {
    font-family: "Bungee";
    font-weight: 100;
}
/* The Magic
Float Center Code */
.float_center {
  float: right;
      margin-top: -20px;


  position: relative;
  left: -45%; /* or right 50% */
  text-align: left;
}