@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// ===================================================HOME PAGE CSS====================================================================================================
.homej {
   
    margin-top: -20px;
    padding-top: 250px;
  //  padding-bottom: 320px;
    font-family: "Oswald";
    color: black;
    font-weight: 900;
    background-image: url("https://images.pexels.com/photos/2128/person-woman-sitting-old.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
     background-size: cover;
     background-repeat:none;
    font-size: 3.3vw;
   // position:relative;
    height: 100vh;
    

}
// Jumbotron replacement after resizing
.smallj {
        font-family: Oswald;
    font-size: 6vw;
    font-weight: 900;
    border-top: solid;
    border-width: 0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: none;
}

.smalli {
    margin: none;
    padding: none;
      width: 100%;
  height: auto;
  border-top: solid;
}
@media only screen and (max-width: 784px){
    .homej{
display: none;
}
}


@media only screen and (min-width: 784px) {
    .smallj,  .smalli{
    display: none;
    }
}

@media only screen and (max-width: 784px){
    .smallj, .smalli{
visibility: visible;
}
}


/* Main message positioning */
.msg {
    margin-left: 80px;
}
/*Nav bar position*/
.navbar{

    margin-top: 20px;
    

}
/*Navbar formatting*/
@media only screen and (max-width: 950px) {
  .sgn, .dab, .lgnin, .sgnup, .htw, .navbar-form, .bigdr, .big {
display: none;
}
}

// Gets rid of all navbar content when below 950 px
@media only screen and (max-width: 950px) {
  button.small.btn.btn-default.dropdown-toggle, button.small.btn.btn-default.dropdown-toggle:focus, button.small.btn.btn-default.dropdown-toggle:hover {
visibility: visible;
border: none;
 color: black;
 background: none;
    font-size: 50px;
    font-family: Bungee;
margin: none;
}
}
// Shows the new logo when a certain size

@media only screen and (max-width: 950px) {
    .smaldr {
        font-family: Rajdhani;
        font-size: 25px;
        border: none;
    }
}

@media only screen and (min-width: 950px ){
    .small {
        display: none;
    }
}
/* Size of font and logo */

.fa, .navbar-brand {
     color: black;
    font-size: 50px;
    margin-top: -10px;
}

.form-group, .dropdown-toggle, .dab {
    margin-top: -8px;
}


button.btn.btn-default.dropdown-hover{
    display: block;
}
/*Formatting of the buttons*/ 
.lgnin, .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-width: 0.5px ;
    font-size: 17px;
    border-radius: 0;
    font-family: "Rajdhani";
        font-weight: 25;

}



.sgnup, .htw {
    border-radius: 0;
     border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: solid;
    border-width: 0.5px ;
    font-size: 17px;
    font-family: "Rajdhani";
        font-weight: 25;

}




.form-group, .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-radius: 0;
     border-style: none;
    font-family: "Rajdhani";
    font-weight: 25;
    font-size: 17px;
}
.navbar-brand {
    font-family: "Bungee";
    font-weight: 100;
}
/* The Magic
Float Center Code */
.float_center {
  float: right;
      margin-top: -20px;


  position: relative;
  left: -45%; /* or right 50% */
  text-align: left;
}

/*Below Jumbotron button formatting */
/*2 Buttons directly under jumbotron*/
.expl, .expl:focus, .expl:active, .expl:hover {
    margin-top: 30px;
  //margin-left: 50px;
  min-width: 250px;
      margin-bottom: 30px;
    padding-left: 150px;
    padding-top: 150px;
    padding-bottom: 110px;
    padding-right: 130px;
    
        background-image:url('https://images.pexels.com/photos/327186/pexels-photo-327186.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

        background-size: cover;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-weight: 900;
        font-family: "Oswald";
        font-size: 3.3vw;
border-color: black;

}

.srtf, .srtf:focus, .srtf:active, .srtf:hover{
        margin-top: 30px;
   min-width: 250px;

      margin-bottom: 30px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   // margin-left: 120px;
    padding-left: 150px;
    padding-top: 150px;
    padding-bottom: 110px;
    padding-right: 130px;
        background-image:url('https://images.pexels.com/photos/461049/pexels-photo-461049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
        color: white;
        border-color: black;
        font-weight: 900;
        font-family: "Oswald";
        font-size: 3.3vw;
    }
  .srtf:hover, .expl:hover {
box-shadow: 0px 0px 9px 4px rgba(255,255,255,1);
}  
 
/*2 Buttons directly under jumbotron*/

/*Categories headings + icons*/
@media only screen and (min-width: 1086px){
#calendar{
    float: left;
    padding-left: 17%;
    margin-bottom: 3%;

}
}

@media only screen and (min-width: 1086px){
#expid{
    padding-right: 20%;
    margin-bottom: 3%;

  float: right;
}

}

#lock {
    font-size: 75px;
    color: white;
}

#icon_font {
    font-size: 20px;
    font-family: Rajdhani;
    color: white;
}

#icons {
  background:black;
}

@media only screen and (max-width: 1086px){
    #expid, #calendar{
position: relative;

}
}
.cats {
    font-family: "Teko";
    font-size: 65px;
    color: black;
}

.eme {
    padding: 63px;
    font-size: 30px;
    border: none;
    border-width: 0.5px ;
    font-family: "Rajdhani";
    border-radius: 0;
}

.med {
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 88px;
    padding-right: 88px;
    font-size: 30px;
    border: none;
    border-radius: 0;
    border-width: 0.5px ;
    font-family: "Rajdhani";

}

.edu {
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 72px;
    padding-right: 73px;
        font-family: "Rajdhani";

    font-size: 30px;
    border:none;
        border-width: 0.5px ;

}

.mem {
    padding-top: 64px;
    padding-bottom: 62px;
    padding-left: 75px;
    padding-right: 70px;
    font-size: 30px;
    border:none;
    font-family: "Rajdhani";


}

.sgn {
    text-align: center;
}

.sgn1 {
    border: solid;
    border-width: 0.5px;
    border-radius: 0;
    font-size: 20px;
    font-family: "Rajdhani";
}

#catsb {
    background: black;
    margin: none;
}

// ===================================================END OF HOME PAGE CSS====================================================================================================



// ===================================================SIGN UP PAGE CSS========================================================================================================

.sgnupmsg, {
    margin-left: 8%;
    font-family: Oswald;
    font-weight: 1000;
    font-size: 3.3vw;
    color: black;
        margin-right: none;
            color: white;


}

.sgnupmsg2 {
       margin-left: 8%;
color: black;
    font-family: Rajdhani;
    font-weight: 300;
    font-size: 30px;
    margin-right: none;
        color: white;
}
.sgnupmsg3 {
    margin-top: 40px;
color: black;
    font-family: Rajdhani;
    font-weight: 900;
    font-size: 30px;
    margin-right: none;
        color: white;
}
//Gradient of div
.bgdiv {
   background: black;
}
.back {
margin-left: 4%;
float:left;
    color: white;

}
@media only screen and (min-width: 950px) {
.sgnupfrm {
    position: absolute;
  // float:center;
   float:left;
    margin-left: 41%;
    font-family: Rajdhani;
    font-weight: 900;
    font-size: 18px;
    color: white;
    
}
}

@media only screen and (min-width: 950px) {
.lginfrm {
    margin-left: 28%;
   // padding-right: 10%;
    margin-bottom: 20%;
   // float:center;
float: left;
//position: fixed;
    font-family: Rajdhani;
    font-weight: 900;
    font-size: 18px;
        color: white;
}
}

input[type=text] {
  width: 120%
}

@media only screen and (max-width: 950px) {
    .lginfrm {
//position: fixed;
margin-left: 15%;
display: block;
padding: none;
//overflow: hidden;
float:left;
    color: white;
float: center;
        
    }
}


@media only screen and (max-width: 950px) {
    .sgnupfrm {
//position: fixed;
float: center;
float:left;
display: block;
padding: none;
//overflow: hidden;
margin-left: 15%;
    color: white;
}
}

@media only screen and (max-width: 950px) {
#Title, .back {
//float: left;
    font-size: 30px;
       text-color: white;
}
    }

@media only screen and (max-width: 950px) {
input[type=text] {
  width: 200px;
}
}
